<?xml version="1.0"?>

<launch>

    <arg name="sim_only" default="false"/>
    <arg name="real_only" default="false"/>
    <arg name="vicon" default="true" />
    <arg name="mapping" default="true" />
    <arg name="tracking" default="true" />
    <arg name="adjust_throttle" default="false" />

    <rosparam command="load" file="$(find mixed_reality)/launch/params.yaml" />
    <param name="mapping" value="$(arg mapping)" />
    <param name="tracking" value="$(arg tracking)" />
    <param if="$(arg sim_only)" name="sim" value="true" />
    <param if="$(arg real_only)" name="real" value="true" />
    <param if="$(eval not real_only and not sim_only)" name="mixed" value="true" />
    <group if="$(arg sim_only)">
        <param name="mapping" value="false" />
        <param name="tracking" value="true" />
    </group>   

    <node unless="$(arg real_only)" name="sim_node" pkg="mixed_reality" type="simulator_node_V2.py" cwd="node" required="true"/>

    <group unless="$(arg sim_only)">
        <node name="car_node" pkg="mixed_reality" type="car_node.py" cwd="node" required="true"/>

        <node if="$(arg vicon)" name="tracking_node" pkg="mixed_reality" type="vicon_tracking.py" cwd="node" required="true"/>
        <node unless="$(arg vicon)" name="tracking_node" pkg="mixed_reality" type="tracking_with_phone.py" cwd="node" required="true"/>
    </group>

    <group if="$(arg adjust_throttle)">
        <node if="$(arg sim_only)" name="pid_speed_control" pkg="mixed_reality" type="throttle_sim.py" cwd="node" required="true"/>
        <node unless="$(arg sim_only)" name="pid_speed_control" pkg="mixed_reality" type="throttle_car.py" cwd="node" required="true"/>
    </group>

    <node name="lattice_planner" pkg="mixed_reality" type="lattice_planner.py" cwd="node" required="true"/>

</launch>